body {
  margin: 0;
  overflow: hidden;
}

/* Typography */

.site-title h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: #143774;
  font-size: 2rem;
  margin: 0;
}

article h1 {
  font-size: 2rem;
  margin-top: 0;
  color: rgb(12, 251, 239);
  font-weight: 700;
  letter-spacing: 1px;
}

article p {
  font-size: 1.5rem;
  margin: 0;
  color: rgb(12, 251, 239);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: bold;
  color: #1792d2;
  font-size: 1rem;
  margin: 0;
}

.bio-info {
  color: rgb(236, 236, 236);
}

.bio-info h3 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

.bio-info li {
  margin: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.contacts a {
  color: rgb(251, 117, 102);
  text-decoration: none;
}

.contacts li {
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 0.5rem 0;
}

header {
  text-align: center;
  background: #f8f8f8;
  padding: 2em 0;
}

/* layout */

article {
  min-height: 20vh;
}

.leftcol {
  margin: 0.5rem;
}

.paragraphs {
  padding: 0.5rem;
}

/* navigation */

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
}

nav li {
  margin: 0 1em;
}

nav a {
  padding: 0.25rem;
  text-decoration: none;
  color: #ff0000;
  font-weight: 700;
}

nav a:hover {
  color: #1792d2;
}

nav a:focus {
  color: #1792d2;
}

.current-page {
  border: 1px solid rgb(255, 0, 0);
}

.current-page:hover {
  color: #ff0000;
}

/* image */

.container {
  max-width: 2560px;
  min-height: 95.3vh;
  margin: 0 auto;
}

.top-container {
  background-image: url(1276843635.jpg);
  background-size: cover;
  width: 100%;
  background-position: center;
  min-height: 95.3vh;
  /* max-width: 1280px; */
  margin: 0 auto;
}

#main-pic {
  margin-top: 0%;
  width: 100%;
}

/* sections */

.section-container {
  overflow-x: hidden;
  overflow-y: auto;
  display: inline-block;
  visibility: hidden;
  opacity: 0;
  background: linear-gradient( to left, rgba(3, 155, 185, 0.85), rgba(84, 83, 134, 0.85) );
  /* height: 900px; */
  max-height: 900px;
  max-width: 1280px;
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  bottom: 10%;
  margin: auto;
  margin-top: 4rem;
  border-radius: 12px;
  transition: all 0.5s ease-in-out;
}

/* top col */

.topcol {
  display: flex;
}

/* left col */

.leftcol {
  width: 75%;
}


/* right col */

.rightcol {
  width: 25%;
}

#mypic {
  width: 90%;
  margin: 5%;
}

.contacts {
  padding: 0;
  margin-top: 10%;
  margin-left: 10%;
}

.contacts ul {
  list-style: none;
  padding: 0;
}

.bio-info h3 {
  text-align: center;
}

.contacts li a:hover {
  animation: contactHover 2s infinite;
}
@keyframes contactHover {
  0% {
    color: rgb(255, 153, 142);
  }
  50% {
    color: rgb(255, 243, 187);
  }
  100% {
    color: rgb(255, 153, 142);
  }
}

/* new stuff */
.btn-container{
  position: absolute;
  bottom: 33%;
  left: 0;
  right: 0;
}

.btn-intro {
  outline: none;
  /* border: 3px solid rgb(241, 216, 216); */
  border: 3px solid rgb(134, 232, 236);
  width: 20rem;
  height: 8rem;
  padding: 2rem;
  font-size: 3rem;
  background: transparent;
  color: rgb(134, 232, 236);
}

.btn-intro:hover {
  transform: 0.5s ease-in-out;
  transition-duration: 0.1s;
  cursor: pointer;
  animation: introHover 1s infinite;
}
@keyframes introHover{
  0%{
    color: rgb(134, 232, 236);
  }
  50%{
    color: whitesmoke;
    background: rgb(134, 232, 236);
  }
  100%{
    color: rgb(134, 232, 236);
  }
}

.btmcol {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  display: flex;
}

.btn-close {
  outline: none;
  border: transparent;
  width: 30rem;
  height: 8rem;
  padding: 2rem;
  font-size: 3rem;
  background: transparent;
  color: rgba(255, 255, 255, 0.8);
}

.btn-close:hover {
  animation: closeHover 1.2s infinite;
}
@keyframes closeHover {
  0% {
    color: rgba(255, 255, 255, 0.5);
  }
  50% {
    color: rgba(255, 255, 255, 1);
  }
  100% {
    color: rgba(255, 255, 255, 0.5);
  }
}

/* border: 3px solid rgb(241, 216, 216); */
/* color: rgb(241, 216, 216); */

/* media */



@media (max-width: 1280px) {
  body {
    overflow: hidden;
  }
  .top-container {
    width: 100%;
    height: 100%;
  }

  .section-container {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 2rem;
    display: inline-block
  }
  .leftcol {
    width: 75%;
  }

  .rightcol {
    width: 25%;
  }

  .bio-info {
    font-size: 1rem;
  }
  .paragraphs h1 {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  .paragraphs p {
    font-size: 1.25rem;
    letter-spacing: 1px;
  }
  .contacts li {
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding: 0 20%;
    margin: 0.5rem auto;
  }
  .btn-intro {
    margin-top: 50%;
    font-size: 1.8rem;
    padding: 1rem;
    width: 15rem;
    height: 6rem;
    animation: none;
    background: none;
    border: 3px solid rgb(134, 232, 236);
    background: transparent;
    color: rgb(134, 232, 236);
  }
  .btn-close {
    margin: 1rem auto;
    height: 4rem;
    width: 15rem;
    padding: 1rem;
    font-size: 1.5rem;
    border: 3px solid rgb(134, 232, 236);
  }
  #mypic {
    width: 80%;
    margin: 5% 10%;
  }
}

@media (max-width: 600px) {
  body {
    overflow: hidden;
  }
  .top-container {
    width: 100%;
    max-height: 640px;
  }
  .topcol {
    flex-direction: column;
    width: 100%;
  }
  .section-container {
    top: 20%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: inline-block
  }
  .leftcol,
  .rightcol {
    width: 100%;
  }
  .bio-info {
    font-size: 1rem;
  }
  .paragraphs h1 {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  .paragraphs p {
    font-size: 1.25rem;
    letter-spacing: 1px;
  }
  .contacts li {
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding: 0 20%;
    margin: 0.5rem auto;
  }
  .btn-intro {
    font-size: 1.5rem;
    padding: 1rem;
    width: 10rem;
    height: 4rem;
    animation: none;
    background: none;
    border: 3px solid rgb(134, 232, 236);
    background: transparent;
    color: rgb(134, 232, 236);
  }
  .btn-close {
    margin: 1rem auto;
    height: 4rem;
    width: 15rem;
    padding: 1rem;
    font-size: 1.5rem;
    border: 3px solid rgb(134, 232, 236);
  }
  #mypic {
    width: 80%;
    margin: 5% 10%;
  }
}

@media (max-height: 980px) {
  .btn-intro {
    font-size: 1.5rem;
    padding: 1rem;
    width: 15rem;
    height: 6rem;
    animation: none;
    background: none;
    border: 3px solid rgb(134, 232, 236);
    background: transparent;
    color: rgb(134, 232, 236);
  }
}

@media (max-height: 720px) {
  .btn-intro {
    font-size: 1.5rem;
    padding: 1rem;
    width: 10rem;
    height: 4rem;
    animation: none;
    background: none;
    border: 3px solid rgb(134, 232, 236);
    background: transparent;
    color: rgb(134, 232, 236);
  }
}
